/* - titoli H1 con sfondo rosso, testo bianco, carattere dimensione 28px
- div con classe "container" con bordo nero, da 1px, allineamento flex
- div con classe "content" con sfondo rosso, margine da 5px, allineamento responsive
 */
h1 {
	background-color: red;
	color: white;
	font-size: 28px;
}
.container {
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}
.content {
	background-color: red;
	margin: 5px;
	/* display: inline-block; */
	/* flex-direction: row; */
	width: 50px;
	height: 50px;
}
